/* General Reset */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    max-width: 50%; 
}
.container .image {
    position: absolute;
    width: 470px;
    height: 909px;
   top: 1px; 
}
.navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding: 2rem;
    max-width: 50%;
    text-align: center;
}
.navbar h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
.box {
    background-color: white;
    padding: 2rem;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 50%;
    max-width: 400px;
    text-align: center;
}
.box h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1.5rem;
}
.name, .email, .pass {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}
.name span, .email span, .pass span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1.2rem;
}
.name input, .email input, .pass input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Add padding for the icon */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
.name input:focus, .email input:focus, .pass input:focus {
    border-color: #0077b6;
    outline: none;
}
button {
    background-color: #070707;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
button:hover {
    background-color: #005f8d;
}
p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}
p a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

p a:hover {
    color: #005f8d;
}
